# Server configuration
PORT=4000

#Node env
NODE_ENV=development

# MongoDB connection
MONGO_URI=mongodb://localhost:27017/rule_violation_tracker

# Frontend client URL
CLIENT_URL=http://localhost:5173

# JWT or session secrets (if needed later)
ACCESS_TOKEN_SECRET=access_token_secret
REFRESH_TOKEN_SECRET=refresh_token_secret

#Token expirey times
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

# Log level (info, warn, error, debug)
LOG_LEVEL=info
